    <script src="assets/javascript/pixitest.js"></script>
    <link rel="stylesheet" href="assets/css/hunting.css">

</head>
<body>

    <div id="msgbox" class="hidden dialogBox"><div id="msgbuttons"></div></div>  

</body>
