    <script src="assets/javascript/pixitest.js"></script>
    <link rel="stylesheet" href="assets/css/survivor.css">

</head>
<body>

    <div id="msgbox" class="hidden dialogBox"><div id="msgbuttons"></div></div>  
    <div id="display"></div>
</body>
