<!DOCTYPE html>
<html lang="en">
<head>
    <script src="jquery/jquery.min.js"></script>
    <script src="pixi.js/pixi.js"></script>
    <script src="assets/javascript/common.js"></script>
    <script src="assets/javascript/components.js"></script>
    <script src="assets/javascript/meshDeformation.js"></script>
    <script src="assets/javascript/runaround.js"></script>
    <link rel="stylesheet" href="assets/css/survivor.css">
    <link rel="stylesheet" href="assets/css/dialogBoxes.css">
</head>
<body>
    <div id="msgbox" class="hidden dialogBox"><div id="msgbuttons"></div></div>
    <div id="time"></div>
    <div id="ammoSelect">
        <div id="selectedAmmo"></div>
    </div>
    <div id="display"></div>
    <div id="msg"></div>
</body>
